@import "../../../source/objectStyle.scss";
@import "../../../source/nullstyle.scss";

.main {
  flex: 1 1 100%;
}

.title {
  @extend %title-style;
  text-transform: uppercase;
}

.hat {
  text-align: center;
  & .title {
    margin-bottom: 32px;
  }
  & .wishes {
    @include styleText(22, 26, "Roboto", normal, 500);
    color: #34383d;
    opacity: 0.8;
  }
}

.button-top {
  width: 70px;
  height: 70px;
  position: fixed;
  background: #ab915f url("../../../img/arrow.png") center/30px no-repeat;
  left: 20px;
  cursor: pointer;
  border-radius: 50%;
  bottom: 30px;
  box-shadow: 1px 1px 20px #5b5151;
  @media (max-width: 700px) {
    width: 50px;
    height: 50px;
    background-size: 20px;
  }
}
